* {
  text-align: center;
  font-family: arial;
  color: white;
}
html{
  background-color: lightgray;
}

body{
  height: 80%;
  width:700px;
  border:white 20px solid;
  border-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background: linear-gradient(0deg, rgba(100,249,255,1) 1%, rgba(133,250,255,1) 100%);
  margin: 150px auto;
}

form{
  height: 50%;
  margin: auto auto;
}
input{
  color: rgb(107, 105, 105);
  margin: 10px;
  font-family:'Montserrat', sans-serif;
  width: 50%;
  height: 20%;
  border-radius: 5px;
  border: .5px white solid;
  font-size:25px;
  overflow-x:hidden;
}
h1{
  color: white;
  font-size: 520%;
  font-family:'Lobster', cursive;
  text-shadow: 5px 5px 5px rgba(50,0,0,.4);

}

div{
  color:white;
  font-size: 120%;
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(50,0,0,.5);
  padding: 3%;
  border-bottom: white;
}

label{
  color:white;
  font-size: 200%;
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(50,0,0,.5);
}

button{
  font-size: 25px;
  color:White;
  margin-top:15px;
  width:150px;
  height:35px;
  border-radius: 5px;
  background-color:lightgray;
  font-family:'Montserrat', sans-serif;
  margin: 15px;
  text-transform: lowercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0)
}
p{
  color: rgb(255, 74, 186);
  font-size: 130%;
  font-family:'Montserrat', sans-serif;

}
h6{
  height: 50%;
  color: white;
  font-family:'Montserrat', sans-serif;
  font-size:30px;
}
.hidden{
 float: left;
}

#update{
  
}

#remove{

}