* {
  text-align: center;
  font-family: arial;
}
html {
  background-color: rgb(160, 160, 160);
}

h1 {
  color: white;
  font-size: 500%;
  font-family: "Arial", cursive;
  text-shadow: 5px 5px 5px rgba(50, 0, 0, 0.4);
}

p {
  color: white;
  font-size: 200%;
  font-family: "Montserrat", sans-serif;
  margin: 15px;
  text-transform: lowercase;
  border-bottom: 3.5px solid white;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(50, 0, 0, 0.5);
}

input {
  font-family: "Montserrat", sans-serif;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: 0.5px white solid;
  font-size: 25px;
}

button {
  font-size: 25px;
  color: White;
  margin-top: 15px;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  background-color: lightgray;
  font-family: "Montserrat", sans-serif;
  margin: 15px;
  text-transform: lowercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(50, 0, 0, 0.5);
}

.form {
  width: 700px;
  border: white 20px solid;
  border-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    0deg,
    rgba(100, 249, 255, 1) 1%,
    rgba(133, 250, 255, 1) 100%
  );
  margin: 150px auto;
}

@media screen and (max-width: 800px) {
  .form {
    width: 85%;
    border: white 20px solid;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(
      0deg,
      rgba(100, 249, 255, 1) 1%,
      rgba(133, 250, 255, 1) 100%
    );
    margin: 150px auto;
  }
  input {
    font-family: "Montserrat", sans-serif;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px white solid;
    font-size: 25px;
    overflow-x: hidden;
  }
}
